../idea/
*.pyc
.venv/*
venv/
**__pycache__
**/migrations/00*.py
**/migrations/*__pycache__
/staticfiles/*
/media/*
/static/*
/back_media/*
/back_static/*
/.idea/*
.idea/*
/.env
/db.sqlite3
back_media/
storage/
media/
data/